.big-box {
  background-color: #00ffff;
  height: 295px;
  width: 295px;
  display: grid;
  grid-gap: 5px 5px;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  /* background-color: #2196F3; */
  /* padding: 10px; */
}

.mini-div {
  height: 10px;
  width: 10px;
  background-color: red;
}