.big-box {
  /* background-color: #00ffff; */
  border: 1px solid black;
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  /* background-color: #2196F3; */
  /* padding: 10px; */
}

.mini-div {
  height: (400/16)px;
  width: (400/16)px;
  /* background-color: red; */
}

.color {
  background-color: aqua;
}